<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="60" align="left" valign="bottom" class="pageHeaderLine">Construction</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
        <!-- start of body -->
        <table width="800" border="1" align="center" cellpadding="0" cellspacing="0" class="table2">
          <tr>
            <td width="300"><table width="300" border="0" cellpadding="0" cellspacing="0" class="table3">
              <tr>
                <td width="120" height="120" align="center" valign="middle"><img src="/images/north.jpg" width="58" height="55" /></td>
                <td align="center" valign="middle"><p><span class="moneyFooter">Build a factory</span><br />
                  <span class="moneyHeader">NORTH</span><br />
                  </p></td>
              </tr>
            </table></td>
            <td width="500" align="center" valign="middle"><table width="500" border="0" cellpadding="0" cellspacing="0" class="table3">
              <tr>
                <td width="100" height="120" align="center" valign="middle"><img src="/images/money.jpg" width="80" height="85" /></td>
                <td width="100" align="center" valign="middle">&nbsp;</td>
                <td width="100" align="center" valign="middle">&nbsp;</td>
                <td width="200" align="center" valign="middle"><span class="moneyHeader">$100,000</span><br />
                  <span class="moneyFooter">Game value</span><br/>
                  <button ng:click="buy_plant('north')">Build</button>
                  <a id="north" href="/buy_plant?islandId=2&playerId=3&region=north" class="btn btn-success" style="opacity:0">Build</a>
                </td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td><table width="300" border="0" cellpadding="0" cellspacing="0" class="table3">
              <tr>
                <td width="120" height="120" align="center" valign="middle"><img src="/images/south.jpg" width="58" height="55" /></td>
                <td align="center" valign="middle"><span class="moneyFooter">Build the factory</span><span class="moneyHeader"><br />
                  SOUTH</span></td>
              </tr>
            </table></td>
            <td align="center" valign="middle"><table width="500" border="0" cellpadding="0" cellspacing="0" class="table3">
                <td width="100" height="120" align="center" valign="middle"><img src="/images/money.jpg" width="80" height="85" /></td>
                <td width="100" align="center" valign="middle"><img src="/images/money.jpg" width="80" height="85" /></td>
                <td width="100" align="center" valign="middle">&nbsp;</td>
                <td width="200" align="center" valign="middle"><span class="moneyHeader">$200,000</span><br />
                  <span class="moneyFooter">Game value</span><br/>
                  <button ng:click="buy_plant('south')">Build</button></td>
            </table></td>
            
          </tr>
          <tr>
           
            <td><table width="300" border="0" cellpadding="0" cellspacing="0" class="table3">
              <tr>
                <td width="120" height="120" align="center" valign="middle"><img src="/images/east.jpg" width="58" height="55" /></td>
                <td align="center" valign="middle"><span class="moneyFooter">Build the factory</span><span class="moneyHeader"><br />
                  EAST</span></td>
              </tr>
            </table></td>
            <td align="center" valign="middle"><table width="500" border="0" cellpadding="0" cellspacing="0" class="table3">
              <tr class="east">
                <td width="100" height="120" align="center" valign="middle"><img src="/images/half-money.jpg" width="85" height="80" /></td>
                <td width="100" align="center" valign="middle">&nbsp;</td>
                <td width="100" align="center" valign="middle">&nbsp;</td>
                <td width="200" align="center" valign="middle"><span class="moneyHeader">$50,000</span><br />
                  <span class="moneyFooter">Game value</span><br/>
                  <button ng:click="buy_plant('east')">Build</button></td>
              </tr>
            </table></td>
            
          </tr>
          <tr>
          
            <td><table width="300" border="0" cellpadding="0" cellspacing="0" class="table3">
              <tr>
                <td width="120" height="120" align="center" valign="middle"><img src="/images/west.jpg" width="58" height="55" /></td>
                <td align="center" valign="middle"><span class="moneyFooter">Build the factory</span><span class="moneyHeader"><br />
                WEST</span></td>
              </tr>
            </table></td>
            <td align="center" valign="middle"><table width="500" border="0" cellpadding="0" cellspacing="0" class="table3">
              <tr class="west">
                <td width="100" height="120" align="center" valign="middle"><img src="/images/money.jpg" width="80" height="85" /></td>
                <td width="100" align="center" valign="middle"><img src="/images/half-money.jpg" width="85" height="80" /></td>
                <td width="100" align="center" valign="middle">&nbsp;</td>
                <td width="200" align="center" valign="middle"><span class="moneyHeader">$150,000</span><br />
                  <span class="moneyFooter">Game value</span><br/>
                  <button ng:click="buy_plant('west')">Build</button></td>
              </tr>
            </table></td>
            
          </tr>
        </table>
        <!-- end of body -->
        </td>
      </tr>
    </table>